.home{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
/* so basically a flexbox automatically adjusts objects size to fit them in a single flex direction */
.home_row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px; 
}
.home_image{
    width:100% ; 
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0)) ;  
    /*                                    the changed part is the opacity in the colours, tis how we apply gradients in css */
    z-index:-1 ; 
    margin-bottom:-150px ; 
    /* basically z-index -1 kardiya so  , basically if anything overlaps with it , this will come beneeath it */
}